/target
/target-p2p
**/*.log
**/*.lock
/data
/logs
/example/*/data
/example/*/keypair
/example/*/nodes.json
/audits
/.vscode
.idea
*.ds_store
key-*
node_modules
dist
.env
.env.development
.env.production
